<% include _layouts/top %>
<script>

    function deleteClient(){

        var name= document.getElementById('2').value;

        var parameters = "user="+name;

        var xmlhttp=new XMLHttpRequest();
        xmlhttp.open("DELETE", "/RTPushNotif/clients/test/users", true);
        xmlhttp.setRequestHeader("xhr", "XMLHttpRequest");
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                console.log(xmlhttp.response);
            }
        }
        xmlhttp.send(parameters);
        return false;

    }

    function insertClient(){

        var name= document.getElementById('1').value;
        var obj = JSON.stringify({user: name, devices: ['123455']});

        var xmlhttp=new XMLHttpRequest();
        xmlhttp.open("POST", "/RTPushNotif/clients/test/users", true);
        xmlhttp.setRequestHeader("xhr", "XMLHttpRequest");
        xmlhttp.setRequestHeader("Content-type", "application/json");

        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                console.log(xmlhttp.response);
            }
        }
        xmlhttp.send(obj);
        return false;
    }


    function updateClient(){

        var name= document.getElementById('3').value;
        var obj = JSON.stringify({user: name});

        var xmlhttp=new XMLHttpRequest();
        xmlhttp.open("PUT", "/RTPushNotif/clients/test/users/joana", true);
        xmlhttp.setRequestHeader("xhr", "XMLHttpRequest");
        xmlhttp.setRequestHeader("Content-type", "application/json");

        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                console.log(xmlhttp.response);
            }
        }
        xmlhttp.send(obj);
        return false;
    }



</script>
<form action="/RTPushNotif/api/v1/clients/regist" method="post">
    <h2>Registar o Cliente</h2>
    <label>Client Name</label>
    <input required="required" type="text" name="clientName"/>

    <label>Password</label>
    <input name="password" required="required" type="password"/>
    <input type="submit" value="Submeter"/>
</form>

<form action="/RTPushNotif/api/v1/clients/regist" method="post">
    <h2>Adicionar utilizador a um cliente</h2>
    <label>Client Name</label>
    <input required="required" type="text" name="clientName"/>

    <label>Password</label>
    <input name="password" required="required" type="password"/>
    <input type="submit" value="Submeter"/>
</form>


<input id="1"><button onclick='insertClient()'>inserir cliente</button>
<input id="2"><button onclick='deleteClient()'>eliminar cliente</button>
<input id="3"><button onclick='updateClient()'>editar cliente</button>


<% include _layouts/bottom %>

