<% include _layouts/top %>
<script>

    function deleteUser(){

        var name= document.getElementById('2').value;

        var parameters = "user="+name;

        var xmlhttp=new XMLHttpRequest();
        xmlhttp.open("DELETE", "/RTPushNotif/api/v1/clients/SIBS/users/Oksana", true);
        xmlhttp.setRequestHeader("xhr", "XMLHttpRequest");
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                console.log(xmlhttp.response);
            }
        }
        xmlhttp.send(parameters);
        return false;

    }

    function updateUser(){

        var name= document.getElementById('3').value;
        var obj = JSON.stringify({user: name});

        var xmlhttp=new XMLHttpRequest();
        xmlhttp.open("PUT", "/RTPushNotif/api/v1/clients/SIBS/users/Oksana", true);
        xmlhttp.setRequestHeader("xhr", "XMLHttpRequest");
        xmlhttp.setRequestHeader("Content-type", "application/json");

        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                console.log(xmlhttp.response);
            }
        }
        xmlhttp.send(obj);
        return false;
    }



</script>
<form action="/RTPushNotif/api/v1/clients/regist" method="post">
    <h2>Registar o Cliente</h2>
    <label>Client Name</label>
    <input required="required" type="text" name="clientName"/>

    <label>Password</label>
    <input name="password" required="required" type="password"/>
    <input type="submit" value="Submit"/>
</form>

<form action="/RTPushNotif/api/v1/clients/SIBS/users" method="post">
    <h2>Adicionar utilizador a um cliente</h2>
    <label>User's Name</label>
    <input required="required" type="text" name="user"/>
    <label>Client Password</label>
    <input name="password" required="required" type="password"/>
    <input type="submit" value="Submit"/>
</form>

<input id="2"><button onclick='deleteUser()'>eliminar utilizador</button>
<input id="3"><button onclick='updateUser()'>editar utilizador</button>

<% include _layouts/bottom %>

