<% include _layouts/top %>

<div class="container">
	<form action="/user" method="post">
		<label>Name</label>
		<input required="required" type="text" name="name"/>
		<input type="submit" value="Submit!" />
	</form>

</div>

<% include _layouts/bottom %>

