<% include _layouts/top %>

<script>

    function sendPushNotification(){
        var txt = document.getElementById("1").value;
        var params =  JSON.stringify({ "message": txt});
        console.log(params);
        var xmlhttp=new XMLHttpRequest();
        xmlhttp.open('POST','/', true);
        xmlhttp.setRequestHeader("xhr", "XMLHttpRequest");
        xmlhttp.setRequestHeader("Content-type","application/json");
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                console.log(xmlhttp.response);
            }
        }
        xmlhttp.send(params);
        return false;
    }

</script>

<!-- Main component for a primary marketing message or call to action -->
<div>
    <input id="1">
    <button onclick="sendPushNotification()">send push notification!!</button>
</div>

<% include _layouts/bottom %>